---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ContactListItem from "../components/ContactListItem.astro";
import map from "../assets/maps.png";
import { getImage, Image } from "astro:assets";
import BoxContainer from "../components/BoxContainer.astro";

const title = "Mario Rossi";
const description = "Mario Rossi";

const allContacts = await getCollection("contacts");
const contacts = allContacts[0]?.data;
const optimizedBackgroundImage = await getImage({ src: map });
---

<Layout title={title} description={description} activeHeader="contacts">
  <BoxContainer variant="secondary">
    <div class="blue-content">
      <p>Parlami del tuo prossimo progetto</p>
      <ul class="contacts">
        <ContactListItem contactType="phone" value={contacts.phone} />
        <ContactListItem contactType="mobile" value={contacts.mobile} />
        {
          contacts.emails.map((email) => (
            <ContactListItem key={email} contactType="email" value={email} />
          ))
        }
        <ContactListItem
          contactType="address"
          value={contacts.address}
          href={contacts.addressHref}
        />
      </ul>
    </div>
  </BoxContainer>

  <BoxContainer variant="main">
    <a href={contacts.addressHref} target="_blank" class="map">
      <Image src={map} alt={contacts.address ?? ""} />
    </a>
  </BoxContainer>
  <style>
    .blue-content {
      display: flex;
      flex-direction: row;
      gap: var(--space-s);
    }
    .map {
      display: block;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      border-radius: 2px;
    }
    .contacts {
      list-style: none;
      padding-inline-start: 0;
      margin-block-end: 0;
      flex: 0 0 50%;
    }
    .contacts li {
      display: flex;
      flex-direction: row;
      gap: var(--space-s);
    }
    .map img {
      object-fit: cover;
      max-width: 100%;
      height: 30vh;
      transform: scale(1.5);
    }

    p {
      font-size: 36px;
      font-weight: var(--font-weight-bold);
      flex: 0 0 50%;
    }

    @media screen and (max-width: 300px) {
      .map img {
        transform: scale(3);
      }
    }
    @media screen and (max-width: 600px) {
      p {
        font-size: 28px;
        flex: 0 0 10%;
      }
      .blue-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        /* max-width: 100%; */
      }
    }
  </style>
</Layout>
