---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ContactListItem from "../components/ContactListItem.astro";

const title = "Mario Rossi";
const description = "Mario Rossi";

const allContacts = await getCollection("contacts");
const contacts = allContacts[0]?.data;
---

<Layout title={title} description={description} activeHeader="contacts">
	<section class="box-container blue-box-container">
		<div class="box-content secondary-box-content">
			<a href="/public/maps.png" target="_blank" class="map"> </a>
		</div>
	</section>
	<section class="box-container">
		<div class="box-content secondary-box-content">
			<ul class="contacts">
				<ContactListItem contactType="phone" value={contacts.phone} />
				<ContactListItem contactType="mobile" value={contacts.mobile} />
				{
					contacts.emails.map((email) => (
						<ContactListItem
							key={email}
							contactType="email"
							value={email}
						/>
					))
				}
				<ContactListItem
					contactType="address"
					value={contacts.address}
					href={contacts.addressHref}
				/>
			</ul>
		</div>
	</section>

	<style>
		.blue-box-container {
			background-color: var(--palette-blue);
			color: var(--palette-white);
		}
		.map {
			width: 100%;
			height: 40vw;
			background-image: url("/public/maps.png");
			background-size: cover;
			display: block;
			max-height: var(--breakpoint-300);
			min-height: var(--breakpoint-248);
			background-position: center;
		}
		.contacts {
			list-style: none;
			padding-inline-start: 0;
			margin-block-end: 0;
		}
		.contacts li {
			display: flex;
			flex-direction: row;
			gap: var(--space-s);
		}
		.box-content img {
			max-width: 100%;
		}
	</style>
</Layout>
