---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BoxContainer from "../components/BoxContainer.astro";

const title = "Mario Rossi";
const description = "Mario Rossi";

const allProjects = await getCollection('projects');

---

<Layout title={title} description={description} activeHeader="projects">
	<BoxContainer variant="main">
		<div class="projects">
			{
				allProjects.map(section => (
				<a class="project" href={section.slug} style={`background-image: url(${section.data.image});`}>
						<div class="project-title">
							<h3>{section.data.title}</h3>
							<p>{section.data.description}</p>
						</div>
					</a>
				))
			}
		</div>
	</BoxContainer>
</Layout>

<style>
	/* FIXME:  */
	:global(.projects) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: var(--space-m);
		width: 100%;

	}

	.project {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		position:relative;
		min-height: 200px;
		background-size: cover;
    	background-position: center;
		flex: 1 1 100%;	
	}

	.project:hover .project-title {
		opacity: 1;
	}

	.project:nth-of-type(3n) {
		flex: 1 1 100%
	}

	.project-title {
		color: var(--palette-white);
		gap: var(--space-xs);
		padding: var(--space-2xs);
		position: absolute;
    	bottom: 0px;
    	left: 0px;
    	right: 0px;
		background-color: var(--palette-blue-opacity);
	}

	.project-title>p {
		font-weight: 300;
		margin-block-start: var(--space-2xs);
		margin-block-end: var(--space-3xs);
	}

	.project-title>h3{
		font-weight: 500;
		text-transform: none;
	}




	@media screen and (min-width: 600px) {
		.project {
			flex: 1 1 40%;	
		}
		.project-title {
			opacity: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: opacity 0.25s ease-in-out;
			text-align: center;
			gap: 0;
		}
		.project-title>p {
			margin-block-start: 0;
		}
	}
</style>

