---
import { getImage, ImageMetadata } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BoxContainer from "../components/BoxContainer.astro";

const title = "Mario Rossi";
const description = "Mario Rossi";

const allProjects = await getCollection("projects");
const optimizedBackgroundImages: ImageMetadata[] = [];
for (let i = 0; i < allProjects.length; i++) {
  const project = allProjects[i];

  const image = await getImage({
    src: project.data.image,
    width: 600,
    height: 250,
  });
  optimizedBackgroundImages.push(image);
}
---

<Layout title={title} description={description} activeHeader="projects">
  <BoxContainer variant="wrapper">
    <div class="projects">
      {
        allProjects.map((section, i) => (
          <a
            class="project"
            href={`/projects/${section.slug}`}
            style={`background-image: url('${optimizedBackgroundImages[i].src}');`}
          >
            <div class="project-title">
              <h3>{section.data.title}</h3>
              <p>{section.data.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </BoxContainer>
</Layout>

<style>
  :global(.projects) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-m);
    width: 100%;
    padding-block-end: var(--space-m);
    padding-inline-start: var(--space-m);
    padding-inline-end: var(--space-m);
  }

  .project {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    min-height: var(--breakpoint-200);
    background-size: cover;
    background-position: center;
    flex: 1 1 100%;
  }

  .project:hover .project-title {
    opacity: 1;
  }

  .project:nth-of-type(3n) {
    flex: 1 1 100%;
  }

  .project-title {
    color: var(--palette-white);
    gap: var(--space-xs);
    padding: var(--space-2xs);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--palette-blue-opacity);
  }

  .project-title > p {
    font-weight: var(--font-weight-regula);
    margin-block-start: var(--space-2xs);
    margin-block-end: var(--space-3xs);
  }

  .project-title > h3 {
    font-weight: var(--font-weight-bold);
    text-transform: none;
  }

  @media screen and (min-width: 600px) {
    .project {
      flex: 1 1 40%;
    }
    .project-title {
      opacity: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: opacity 0.25s ease-in-out;
      text-align: center;
      gap: 0;
    }
    .project-title > p {
      margin-block-start: 0;
    }
  }
</style>
