---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BoxContainer from "../../components/BoxContainer.astro";
import Button from "../../components/Button.astro";

const title = "Mario Rossi";
const description = "Mario Rossi";

export async function getStaticPaths() {
  const allProjects = await getCollection("projects");
  return allProjects.map(({ slug, ...sectionProps }) => {
    return {
      params: { project: slug },
      props: { project: sectionProps },
    };
  });
}

const { project } = Astro.props;
---

<Layout title={title} description={description} activeHeader="projects">
  <BoxContainer variant="wrapper">
    <div class="project">
      <ul class="breadcrumb">
        <li><a href="/projects">Projects</a></li>
        <Icon pack="mdi" name="chevron-right" />
        <li class="project-name">{project.data.title}</li>
      </ul>

      <Image
        class="project-image"
        src={project.data.image}
        alt={project.data.title}
        width="900"
        height="900"
      />
      <h3>{project.data.title}</h3>
      <dl class="building-data">
        <dt>Type</dt>
        <dd>{project.data.projectType}</dd>
        <dt>Height</dt>
        <dd>{project.data.height}</dd>
        <dt>Year</dt>
        <dd>{project.data.year}</dd>
      </dl>
      <p>
        Culpa quasi est. Sit explicabo est nisi repellat magnam nihil id
        reiciendis. Optio culpa sequi error harum blanditiis veritatis labore
        doloribus laborum. Repellendus veritatis omnis et et facere consequatur.
        Voluptate quae dicta minima suscipit enim. Quis veniam non expedita
        earum. Eos sit nobis accusantium sint beatae quaerat. Ad illum vero cum
        perspiciatis dolor iure ut. Aperiam est quidem autem fugit esse quam
        voluptates a. Nihil quia est. Ut consequatur eos est voluptatem modi
        deserunt voluptatem dolor est. Reiciendis accusantium omnis consequuntur
        officia esse quia fuga recusandae hic. Excepturi ipsum eligendi. Dolores
        neque commodi est facere dolores aspernatur repellendus non minus.
      </p>
      <div class="button-container">
        <Button href="/projects">Back</Button>
      </div>
    </div>
  </BoxContainer>
</Layout>

<style>
  :global(.project) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    gap: var(--space-xs);
    color: var(--palette-black);
  }
  h3 {
    text-transform: none;
    margin-block-end: 0;
    padding-inline-start: var(--space-m);
    padding-inline-end: var(--space-m);
  }
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: var(--space-m);
    padding-inline-end: var(--space-m);
  }
  .building-data {
    display: grid;
    grid-auto-rows: var(--space-l);
    grid-template-columns: max-content auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: var(--space-m);
    padding-inline-end: var(--space-m);
  }
  .building-data dt {
    grid-column-start: 1;
  }
  .building-data dd {
    grid-column-start: 2;
  }
  .button-container {
    display: flex;
    padding-inline-start: var(--space-m);
    margin-block-end: var(--space-m);
  }

  .breadcrumb {
    list-style: none;
    flex-direction: row;
    display: flex;
    gap: var(--space-xs);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: var(--space-m);
  }
  .breadcrumb svg {
    height: 24px;
  }
  .breadcrumb li {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .project-name {
    font-weight: var(--font-weight-bold);
  }
  .project-image {
    max-width: 100%;
    padding-inline-start: var(--space-m);
    padding-inline-end: var(--space-m);
    height: auto;
  }
</style>
